In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv(r"C:\Users\SALAH MAHMOUD\Downloads\Unicorn+Companies (1)\Unicorn_Companies.csv")

In [3]:
df.head()

,Company,Valuation,Date Joined,Industry,City,Country,Continent,Year Founded,Funding,Select Investors
0,Bytedance,$180B,2017-04-07,Artificial intelligence,Beijing,China,Asia,2012,$8B,"Sequoia Capital China, SIG Asia Investments, S..."
1,SpaceX,$100B,2012-12-01,Other,Hawthorne,United States,North America,2002,$7B,"Founders Fund, Draper Fisher Jurvetson, Rothen..."
2,SHEIN,$100B,2018-07-03,E-commerce & direct-to-consumer,Shenzhen,China,Asia,2008,$2B,"Tiger Global Management, Sequoia Capital China..."
3,Stripe,$95B,2014-01-23,Fintech,San Francisco,United States,North America,2010,$2B,"Khosla Ventures, LowercaseCapital, capitalG"
4,Klarna,$46B,2011-12-12,Fintech,Stockholm,Sweden,Europe,2005,$4B,"Institutional Venture Partners, Sequoia Capita..."

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1074 entries, 0 to 1073
Data columns (total 10 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Company           1074 non-null   object
 1   Valuation         1074 non-null   object
 2   Date Joined       1074 non-null   object
 3   Industry          1074 non-null   object
 4   City              1058 non-null   object
 5   Country           1074 non-null   object
 6   Continent         1074 non-null   object
 7   Year Founded      1074 non-null   int64
 8   Funding           1074 non-null   object
 9   Select Investors  1073 non-null   object
dtypes: int64(1), object(9)
memory usage: 84.0+ KB

In [5]:
df['City'].fillna("Unknown", inplace=True)
df['Select Investors'].fillna("Unknown", inplace=True)

In [6]:
def convert_to_billion(x):
    x = x.replace('$', '')
    if x.endswith('B'):
        x = x.replace('B', '') + '0' * 9
    elif x.endswith('M'):
        x = x.replace('M', '') + '0' * 6
    return x

df['Valuation'] = df['Valuation'].apply(convert_to_billion)    
df['Funding'] = df['Funding'].apply(convert_to_billion)

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1074 entries, 0 to 1073
Data columns (total 10 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Company           1074 non-null   object
 1   Valuation         1074 non-null   object
 2   Date Joined       1074 non-null   object
 3   Industry          1074 non-null   object
 4   City              1074 non-null   object
 5   Country           1074 non-null   object
 6   Continent         1074 non-null   object
 7   Year Founded      1074 non-null   int64
 8   Funding           1074 non-null   object
 9   Select Investors  1074 non-null   object
dtypes: int64(1), object(9)
memory usage: 84.0+ KB

In [8]:
# Assuming 'df' is your DataFrame
df['Valuation'] = df['Valuation'].astype(np.int64)
df['Funding'] = pd.to_numeric(df['Funding'], errors='coerce').fillna(-1).astype(np.int64)


# Assuming df is your DataFrame
df["Date Joined"]= pd.to_datetime(df["Date Joined"])

In [9]:
for col in df.select_dtypes(include=['object']).columns:
    df[col] = df[col].astype('category')

In [10]:
df['Joined_by_year'] = df['Date Joined'].dt.year

In [11]:
df['become_unicorn'] = df['Joined_by_year']-df['Year Founded']

In [19]:
# Split and explode the "Select Investors" column to create separate rows for each investor
investors_df = df["Select Investors"].str.split(", ").explode()

# Group by investors and count the number of unicorns they funded
investor_counts = investors_df.groupby(investors_df).size().reset_index(name="Number of Unicorns")

# Sort the investors by the number of unicorns in descending order
investor_counts = investor_counts.sort_values(by="Number of Unicorns", ascending=False)
# Display the top investors
investor_counts.head()

             Select Investors  Number of Unicorns
26                      Accel                  60
1110  Tiger Global Management                  53
80        Andreessen Horowitz                  53
976     Sequoia Capital China                  48
975           Sequoia Capital                  47

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1074 entries, 0 to 1073
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Company           1074 non-null   category
 1   Valuation         1074 non-null   int64
 2   Date Joined       1074 non-null   datetime64[ns]
 3   Industry          1074 non-null   category
 4   City              1074 non-null   category
 5   Country           1074 non-null   category
 6   Continent         1074 non-null   category
 7   Year Founded      1074 non-null   int64
 8   Funding           1074 non-null   int64
 9   Select Investors  1074 non-null   category
 10  Joined_by_year    1074 non-null   int64
 11  become_unicorn    1074 non-null   int64
dtypes: category(6), datetime64[ns](1), int64(5)
memory usage: 153.5 KB

In [14]:
df.head()

,Company,Valuation,Date Joined,Industry,City,Country,Continent,Year Founded,Funding,Select Investors,Joined_by_year,become_unicorn
0,Bytedance,180000000000,2017-04-07,Artificial intelligence,Beijing,China,Asia,2012,8000000000,"Sequoia Capital China, SIG Asia Investments, S...",2017,5
1,SpaceX,100000000000,2012-12-01,Other,Hawthorne,United States,North America,2002,7000000000,"Founders Fund, Draper Fisher Jurvetson, Rothen...",2012,10
2,SHEIN,100000000000,2018-07-03,E-commerce & direct-to-consumer,Shenzhen,China,Asia,2008,2000000000,"Tiger Global Management, Sequoia Capital China...",2018,10
3,Stripe,95000000000,2014-01-23,Fintech,San Francisco,United States,North America,2010,2000000000,"Khosla Ventures, LowercaseCapital, capitalG",2014,4
4,Klarna,46000000000,2011-12-12,Fintech,Stockholm,Sweden,Europe,2005,4000000000,"Institutional Venture Partners, Sequoia Capita...",2011,6

In [15]:
df.to_csv(r'C:\Users\SALAH MAHMOUD\Downloads\Unicorn+Companies (1)\clean_unicorn.csv', index=False)

In [20]:
investor_counts.to_csv(r'C:\Users\SALAH MAHMOUD\Downloads\Unicorn+Companies (1)\investor_counts.csv', index=False)